.title {
	float: left;
	position: relative;
	top: 4px;
	width: 40%;
	left: 30%;
	font-family: "Myriad Pro", sans-serif;
	font-size: 14px;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	line-height: 14px;
}

.folder {
	float: left;
	margin-right: 5px;

	.tab {
		width: 5px;
		height: 2.5px;
		background:#a4c5da;
		border: 1px solid #728ea3;
		border-bottom: none;
		border-radius: 2px 2px 0px 0px;
		-webkit-box-shadow: 0px -1px 0px #99b5c7 inset;
		margin-left: 1px;
		z-index: 5000;
		margin-bottom: -1px;
	}

	.body {
		width: 15px;
		height: 10px;
		border: 1px solid #6e8ba1;
		background: #b8cfe0;
		background: -moz-linear-gradient(top,  #b8cfe0 0%, #86adc8 100%);
background: -webkit-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%);
		background: -o-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%);
		background: -ms-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%);
		background: linear-gradient(top,  #b8cfe0 0%,#86adc8 100%);
		z-index: -50;
		-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.25) inset,0px 1px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.25) inset,0px 1px 0px rgba(0,0,0,0.2);
	}
}